p{
	margin: 5px;
	font-size: 20px;
}

img{
	max-width: 35px;
}

button{
	background-color: black;
	color: white;
	border-style: none;
	padding: 10px 16px 10px 16px;
	margin-bottom: 16px;
	border-radius: 6px;
	font-size: 12px;
	font-weight: bold;
}


.ecran_black {
	background-color: #556B2F;
	display: center;
	width: 800px;
        height: 700px;
	position:relative;
	margin:auto;
        border-radius: 10px;
	border-style: solid;
	border-width: medium;
	border-color: white;
}

.ecran_color {
	display: center;
	width: 800px;
	height: 700px;
	position:relative;
	margin:auto;
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

#raquette_gauche {
	background-color: black;
	width: 20px;
	height: 100px;
	top: 325px;
	left: 0px;
	position: absolute;
        border-radius: 10px;
}

#raquette_droite {
	background-color: black;
	width: 20px;
	height: 100px;
	top: 325px;
	right: 0px;
	position: absolute;
        border-radius: 10px;
}

#balle {
	background-color: white;
	height: 20px;
	width: 20px;
	top:340px;
	left:390px;
	position: absolute;
        border-radius: 10px;
}

#compteur_g{
	position: absolute;
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-family: sans-serif;
	left: 355px;
	top: 8px;
}

#compteur_d{
		position: absolute;
		color: white;
		font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
		left: 420px;
		top: 8px;
}

#separateur{
  background-color: white;
  width: 10px;
  height: 700px;
  position: absolute;
  top: 0px;
  left:395px;
}

#restart_btn{

	position: absolute;
	left: 350px;
	top: 385px;
	visibility: hidden;
}

#message_partie{
	background-color: white;
	width: 400px;
	height: 150px;
	position: absolute;
	left: 200px;
	top: 300px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	visibility: hidden;
	margin-top: auto;
	margin-bottom: auto;
}

#message_partie p{
		padding-top: 30px;
}

#message_victoire{
    background-color: white;
    width: 400px;
    height: 150px;
    position: absolute;
    left: 200px;
    top: 300px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    visibility: hidden;
		margin-top: auto;
		margin-bottom: auto;
}

#message_victoire p{
		padding-top: 30px;
}

#choix_nb_tours{
    background-color: white;
    width: 300px;
    height: 140px;
    position: absolute;
    left: 250px;
    top: 270px;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
		visibility: hidden;
		padding-top: 25px;
		line-height: 30px;
}

#choix_nb_tours p{
	padding-bottom: 8px;
}

#introduction{
    background-color: white;
    width: 350px;
    height: 400px;
    position: absolute;
    left: 225px;
    top: 150px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
		visibility: visible;
		align-content: center;
}

#introduction .col_1{
	width: 35%;
	padding-left: 15%;
	float: left;
}
#introduction .col_2{
	width: 35%;
	padding-right: 15%;
	float: right;
}

#introduction button{
	margin-top: 35px;
}

.bottom{
	bottom: 10px;
	margin: 0px;
	font-size: 10px;
}
